<div class="page-client">

    <img class="logo" src="img/logo.png"></img>


    <div class="form">
        <div class="form-title">Inscription</div>  
        <input class="form-input" 
            id="email-register" type="email" placeholder=" Email"/>
        <input class="form-input"
            id="mdp-register" type="password" class="input" placeholder=" Password" />
        <div class="form-p" ng-click="goTo('login')">Déjà un compte ? cliquez ici</div>
        <div class="form-btn" ng-click="client('register')">S'inscrire</div> 
    </div>
 
</div>
